@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.nav-link img {
  width: 30px;
  vertical-align: middle;
}

.clk {
  cursor: pointer;
}

.bgg {
  background-color: rgb(38, 12, 58);
}

.style {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Satisfy", cursive;
}
