.image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/photo-1517842645767-c639042777db.avif") no-repeat
      center/cover;
  height: 85vh;
}

form {
  height: 50vh;
}
